<div class="">
  <div class="car" id="main-hero">
    <div>
      <div style="background-image: url({{ 'home1_banana.jpg' | theme_image_url }}); background-size: 100%; background-repeat: no-repeat; height: 700px; margin-top: 65px">
        <img src="{{ 'logo.png' | theme_image_url }}" id="header-logo"/>
        <h1 class="hero-text">ONE</h1>
      </div>
    </div>
    <div>
      <div style="background-image: url({{ '6888668511_673f00d565_o.png' | theme_image_url }}); background-size: 100%; background-repeat: no-repeat; height: 700px; margin-top: 65px">
        <img src="{{ 'logo.png' | theme_image_url }}" id="header-logo"/>
        <h1 class="hero-text">TWO</h1>
      </div>
    </div>
    <div>
      <div style="background-image: url({{ 'hero_3.png' | theme_image_url }}); background-size: 100%; background-repeat: no-repeat; height: 700px; margin-top: 65px">
        <img src="{{ 'logo.png' | theme_image_url }}" id="header-logo"/>
        <h1 class="hero-text">THREE</h1>
      </div>
    </div>
  </div>
</div>