<div class="">
  <div class="car" id="main-hero">
    <div>
      <div style="background-image: url({{ 'home1_banana.jpg' | theme_image_url }}); background-size: 100%; background-repeat: no-repeat; height: 700px; margin-top: 60px">
        <img src="{{ 'logo.png' | theme_image_url }}" id="header-logo"/>
        <p class="hero-text slide-one">ONE BANANA CAN MAKE A CHANGE.</p>
        <p class="slide-copy">We are on a mission to grow the best tasting, best quality, and most delicious bananas in the world.</p>
      </div>
    </div>
    <div>
      <div style="background-image: url({{ '6888668511_673f00d565_o.png' | theme_image_url }}); background-size: 100%; background-repeat: no-repeat; height: 700px; margin-top: 60px">
        <img src="{{ 'logo.png' | theme_image_url }}" id="header-logo"/>
        <p class="hero-text slide-two">We believe that our bananas should not only be the best quality, but should also be grown on farms that are socially and enviromentally responsible and that support their communities.</p>
      </div>
    </div>
    <div>
      <div style="background-image: url({{ 'hero_3.png' | theme_image_url }}); background-size: 100%; background-repeat: no-repeat; height: 700px; margin-top: 60px">
        <img src="{{ 'logo.png' | theme_image_url }}" id="header-logo"/>
        <p class="three">We are commited to making <br>this change - ONE banana at a time.</p>
        <p class="hero-text slide-three"><strong>
        ONE. THE BETTER BANANA CO.</strong></p>
        <p class="slide-three">The beginning of a better <br>banana is here!</p>
      </div>
    </div>
  </div>
</div>