---
title: Home page
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  {{ 'foundation.css' | stylesheet_tag }}
  {{ 'grid-5.css' | stylesheet_tag }}
  {{ 'fonts.css' | stylesheet_tag }}
  {{ 'fontello.css' | stylesheet_tag }}
  {{ 'generic_style.css' | stylesheet_tag }}
  {{ 'vendor/custom.modernizr.js' | javascript_tag }}
  {% inline_editor %}
</head>


<body class="generic-body">
    {% include header %}

    <ul class="row" id="nav">
      {% nav 'site', snippet: 'generic_nav', no_wrapper: true%}
    </ul>

    {% include sub_nav %}


  <div class="row">
    {% block 'generic_body_content' %}
    {% endblock %}
  </div>

  <ul class="row" data-tab id="nav">
    {% nav 'site', snippet: 'generic_footer_nav', no_wrapper: true%}
  </ul>

  {% include generic_footer %}
  {{ 'vendor/jquery.js' | javascript_tag }}
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{ 'vendor/zepto.js' | javascript_url }}' : '{{ 'vendor/jquery.js' | javascript_url }}') +
  '><\/script>')

  $(function() {
    $('li a[href$="' + location.pathname.split("/")[1] + '"]').find(".pointer").addClass('selection');
  });


    $(".next-slide").click(function() {
    $("#ORBIT-ID").siblings(".orbit-next").click();
    $("#ORBIT-ID").siblings(".orbit-timer").click(); // Remove this line to pause the orbit. (it pauses whenever you change slides by default)
  });

  $(".prev-slide").click(function() {
    $("#ORBIT-ID").siblings(".orbit-prev").click();
    $("#ORBIT-ID").siblings(".orbit-timer").click(); // Remove this line to pause the orbit. (it pauses whenever you change slides by default)
  });

  </script>
  {{ 'foundation.min.js' | javascript_tag }}
  {{ 'main.js' | javascript_tag }}

<script>
$(document).foundation();
</script>
</body>
</html>
