---
title: Home page
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 0
---
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  {{ 'foundation.css' | stylesheet_tag }}
  {{ 'fontello.css' | stylesheet_tag }}
  {{ 'style.css' | stylesheet_tag }}
  {{ 'vendor/custom.modernizr.js' | javascript_tag }}
  {% inline_editor %}
</head>
<body>

  {% include header %}
  
  <div class="row">
    <ul data-orbit class="car">
      <li>
        <img src="images/Earth.jpg" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="images/fav.png" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="images/menu.jpg" />
        <div class="orbit-caption">...</div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <div class="row">
        <div class="large-6 columns center nav-item">
          <a href="#"><strong>Overview</strong></a>
        </div>
        <div class="large-6 columns center nav-item">
          <a href="#"><strong>Recipies</strong></a>
        </div>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="row">
        <div class="large-6 columns center nav-item">
          <a href="#"><strong>Where to buy</strong></a>
        </div> 
        <div class="large-6 columns center nav-item">
          <a href="#"><strong>ONE Difference</strong></a>
        </div>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="row">
        <div class="large-6 columns center nav-item">
          <a href="#"><strong>Our company</strong></a>
        </div>
        <div class="large-6 columns center nav-item">
          <a href="#"><strong>FAQ</strong></a>
        </div>
      </div>
    </div>

    <div class="large-3 columns">
      <div class="row">
        <div class="large-6 columns center nav-item">
          <a href="#"><strong>Promotion</strong></a>
        </div>
        <div class="large-6 columns center nav-item">
          <a href="#"><strong>Stuff</strong></a>
        </div>
      </div>
    </div>
  </div>

  {% include footer %}
  {% block 'main' %}
    <div class="row copy full-width">
      <span class="large-6 columns organic-photo">
      <img src="http://placehold.it/650x500" alt="">
      </span>
      <span class="large-6 columns">
        <h3 class='center'>ORGANIC</h3>
        <p class="spacing">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      </span>
    </div>
    <ul data-orbit class="car">
      <li>
        <img src="http://placehold.it/1400x600" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="http://placehold.it/1400x600" />
        <div class="orbit-caption">...</div>
      </li>
      <li>
        <img src="http://placehold.it/1400x600" />
        <div class="orbit-caption">...</div>
      </li>
    </ul>

  {% endblock %}

  {{ 'vendor/jquery.js' | javascript_tag }}
  {{ 'vendor/jquery.stellar.min.js' | javascript_tag }}
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{ 'vendor/zepto.js' | javascript_url }}' : '{{ 'vendor/jquery.js' | javascript_url }}') +
  '><\/script>')

  $.stellar();

    $(".next-slide").click(function() {
    $("#ORBIT-ID").siblings(".orbit-next").click();
    $("#ORBIT-ID").siblings(".orbit-timer").click(); // Remove this line to pause the orbit. (it pauses whenever you change slides by default)
  });

  $(".prev-slide").click(function() {
    $("#ORBIT-ID").siblings(".orbit-prev").click();
    $("#ORBIT-ID").siblings(".orbit-timer").click(); // Remove this line to pause the orbit. (it pauses whenever you change slides by default)
  });

  </script>

  {{ 'foundation.min.js' | javascript_tag }}
  {{ 'footer.js' | javascript_tag }}
  <!--

  {{ 'foundation/foundation.js' | javascript_tag }}

  {{ 'foundation/foundation.alerts.js' | javascript_tag }}

  {{ 'foundation/foundation.clearing.js' | javascript_tag }}

  {{ 'foundation/foundation.cookie.js' | javascript_tag }}

  {{ 'foundation/foundation.dropdown.js' | javascript_tag }}

  {{ 'foundation/foundation.forms.js' | javascript_tag }}

  {{ 'foundation/foundation.joyride.js' | javascript_tag }}

  {{ 'foundation/foundation.magellan.js' | javascript_tag }}

  {{ 'foundation/foundation.orbit.js' | javascript_tag }}

  {{ 'foundation/foundation.reveal.js' | javascript_tag }}

  {{ 'foundation/foundation.section.js' | javascript_tag }}

  {{ 'foundation/foundation.tooltips.js' | javascript_tag }}

  {{ 'foundation/foundation.topbar.js' | javascript_tag }}

  {{ 'foundation/foundation.interchange.js' | javascript_tag }}

  {{ 'foundation/foundation.placeholder.js' | javascript_tag }}

  {{ 'foundation/foundation.abide.js' | javascript_tag }}

  -->

<script>
$(document).foundation();
</script>
</body>
</html>
