---
title: Recipes

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "recipes"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'generic' %}

{% block 'generic_body_content' %}
	<div class="recipe-row row">
		{% for recipe in contents.recipes %}
			<div class="small-4 columns">
				<div class="recipe">
					<img src='{{ recipe.image["url"] }}' />
					<h1>{{ recipe.title }}</h1>
					<h4><span>{{ recipe.minutes }}</span> min, <span>{{ recipe.ingredients }}</span> ingredients </h4>
					<p>{{ recipe.description }}</p>
					<p> My Recipes </p>
					<p> Rating </p>
					<hr>
					<p> Social stuff </p>
					<p> Number </p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}