---
title: Recipes

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 2

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# contentype: "recipes"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'generic' %}

{% block 'generic_body_content' %}

	<div class="recipe-row row">
		{% for recipe in contents.recipes %}
			<div class="small-12 columns large-4 medium-6">
				<div class="recipe">
					<img src='{{ recipe.image["url"] | resize: '500x400' }}' class="pull-left" />
					<div class="recipe-content">
						<h1>{{ recipe.title }}</h1>
						<h4><span>{{ recipe.minutes }}</span> min, <span>{{ recipe.ingredients }}</span> ingredients </h4>
						<p>{{ recipe.description }}</p>
						<div class="pull-left">
							<p> My Recipes </p>
						</div>
						<div class="pull-right">
							<p> {{recipe.rating}} </p>
						</div>
						<hr>
						<div class="pull-left">
							<p> Social stuff </p>
						</div>
						<div class="pull-right">
							<p> Number </p>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{%endblock%}